body {
    font-family: "Roboto", sans-serif;
}







p {
    background-color: var(--culoare-primary);
    color: white;

}

h1 {
    color: var(--culoare-primary);
    border: 5px solid var(--culoare-primary);

}

#tech {
    width: 70%;
    height: auto;

    border: 5px solid var(--culoare-primary);
}

.container-iframe {
    display: flex;
    justify-content: center;
    flex-direction: column;



}

.video-vtt {
    width: 100%;
    height: auto;

    &::cue {
        background-color: rgb(255, 255, 255, 0.3);
        color: black;
    }
}



a[href^="http"] {
    background-image: radial-gradient(var(--culoare5) 0%, var(--culoare5) 40%, transparent 80%, transparent 100%);
    background-size: 0;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 1s linear;

    &:visited {
        color: var(--culoare5);
    }

    &:hover {

        &::before {
            color: #f2f2f2;
        }

        background-size: 100%;
    }


    &::before {
        content: "⮳";
        font-size: 2rem;


    }

    &:active {
        border: solid 1px black;
    }
}

video::cue(b) {
    align-self: center;
}

.taburi-iframe {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.video {
    display: flex;
    justify-content: center;

}

.scrollbar {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#ifr-video1 {
    border: 5px solid var(--culoare3);
}

th {
    background-color: var(--culoare3);
    color: white;
}

td {
    text-align: center;
}

caption {
    text-align: center;
    caption-side: bottom;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.button {
    display: inline;
    width: 150px;
    height: 25px;
    background: var(--culoare3);
    padding: 10px;
    text-align: center;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
    color: white;
    font-weight: bold;
    line-height: 25px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.button:hover {
    opacity: 0.7;
}

.dl_button:hover {
    opacity: 0.7;
}

.dl_button {
    display: inline;
    width: 150px;
    height: 25px;
    background: var(--culoare3);
    padding: 10px;
    text-align: center;
    border-radius: .4rem;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.container {
    position: relative;
    display: inline-block;
    font-size: 50px; /* Am folosit aceeași dimensiune pentru coerență */
    font-family: Arial, sans-serif;
  }
  
  .text, #text-reflectat {
    color: #333;
    position: relative;
    z-index: 2;
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
  }
  
  .reflection, #text-reflectat {
    position: absolute;
    bottom: -10px; /* Adjust as needed */
    left: 0;
    z-index: 1;
    width: 100%;
    height: 20px; /* Adjust as needed */
    background-image: repeating-linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.5) 100%
    );
    background-size: 100% 20px; /* Adjust height */
    background-position: 0 -10px; /* Adjust to half of height */
    animation: wave 2s infinite linear;
    transform: scaleY(0.5); /* Adjust reflection height */
  }
  
  #text-reflectat {
    transform-origin: 0 0;
    transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(10px,-25px);
    opacity: 0.55;
  }
  
  @keyframes wave {
    0% {
      background-position: 0 -10px; /* Adjust to half of height */
    }
    100% {
      background-position: 0 10px; /* Adjust to half of height */
    }
  }
  
