<footer>

            <p>Adresa locatiei</p>
            <address>
                Strada Siliciului nr 15, Sector 1, Bucuresti
                <br>
                <a class="ext-links" id="contact" href="mailto:pc_mirage@gmail.com">Mail Pc Mirage</a>
                <br>
                <a class="ext-links" id="contact" href="tel:+@407xxxxxx">Telefon</a>
                <br>
                <a class="ext-links" target="_blank" id="contact" href="https://wa.me/407xxxxxx">Whatsapp</a>
                
            </address>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.259627721217!2d26.08831952377321!3d44.44834723767358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff54480f9fa1%3A0xeb0c4da1876d5e9d!2sCalea%20Victoriei!5e0!3m2!1sro!2sro!4v1709537333284!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="maps"></iframe>
            <br>
            <a class="ext-links" href="https://anpc.ro" target="_blank"><p>ANPC</p></a>
            <a href="#" title="mergi sus" id="link-top"><div id="triunghi">&#8593</div></a>
            <p><small>Copyright &copy; <time datetime="2024-02-01">01 Februarie 2024</time> PC Mirage SRL</small></p>
</footer>