@charset "UTF-8";
#hamburger, #ch-menu {
  display: none;
}

#acasa-mediu {
  display: none;
}

nav {
  --inaltime-meniu: 2.5em;
  --latime-buton: 150px;
  height: var(--inaltime-meniu);
}

.meniu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.meniu li {
  width: var(--latime-buton);
  height: var(--inaltime-meniu);
  text-align: center;
}
.meniu li:hover > div, .meniu li:hover > a {
  background-color: var(--culoare-primary);
  color: var(--culoare-text-selectat);
  border: 1px solid var(--culoare3);
}
.meniu li:hover > ul {
  display: block;
  position: absolute;
  z-index: 100;
  -webkit-animation: animatie_submeniu 1s linear 1 forwards;
          animation: animatie_submeniu 1s linear 1 forwards;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.meniu li div, .meniu li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  line-height: var(--inaltime-meniu);
  color: white;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.meniu li div:hover::before, .meniu li a:hover::before {
  opacity: 1; /* Bara devine opacă */
  -webkit-transform: translateY(0);
          transform: translateY(0); /* Se ridică la marginea de jos a butonului */
}
.meniu li div::before, .meniu li a::before {
  content: ""; /* Elementul pseudoelementului */
  position: absolute;
  bottom: 0; /* Poziționarea la partea de jos a butonului */
  left: 0;
  width: 100%; /* Lățimea egală cu a butonului */
  height: 5px; /* Înălțimea barei */
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(white), to(black));
  background: linear-gradient(to top, black, white, black); /* Gradientul culorilor */
  opacity: 0; /* Inițial transparent */
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s; /* Tranzitie pentru opacitate și transformare */
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px); /* Se va afla inițial sub buton */
}
.meniu ul {
  display: none;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.meniu, .meniu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--culoare3);
}

@-webkit-keyframes animatie_submeniu {
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animatie_submeniu {
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}